In [6]:
import pandas as pd     
import seaborn as sns
import os

In [7]:
rutaJson = "D:/PROYECTO FINAL/Google Maps/metadata-sitios/"     # Ruta de los json de Sitios

In [8]:
archivos_json = [os.path.join(rutaJson, archivo) for archivo in os.listdir(rutaJson) if archivo.endswith('.json')]

In [9]:
archivos_json

['D:/PROYECTO FINAL/Google Maps/metadata-sitios/1.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/10.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/11.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/2.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/3.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/4.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/5.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/6.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/7.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/8.json',
 'D:/PROYECTO FINAL/Google Maps/metadata-sitios/9.json']

In [10]:
# Cargar todas los archivos Json y colocarlos en una lista
lista_df_sitios = []
for archivo in archivos_json:       
    df_sitio = pd.read_json(archivo, lines=True)
    lista_df_sitios.append(df_sitio)

In [12]:
df_sitios = pd.concat(lista_df_sitios, ignore_index=True)     # Concatenar los Dataframes cargados en la lista

In [13]:
categorias = df_sitios['category'].explode().unique()    # Cargar las categorias en arreglo
df_categorias = pd.DataFrame({'category':categorias})   # Cargar las categorias en un df
df_categorias['Id'] = range(1, len(df_categorias) + 1)  # Crear un Id correlativo para cada categoria
df_categorias = df_categorias[['Id','category']]        # Camabiar el orden de las columnas

In [14]:
df_categorias

        Id                                  category
0        1                                  Pharmacy
1        2                          Textile exporter
2        3                         Korean restaurant
3        4                              Fabric store
4        5                                Restaurant
...    ...                                       ...
4467  4468  State Department Agriculture Food Supply
4468  4469                              Karma dealer
4469  4470                         Pipe manufacturer
4470  4471                                 Staircase
4471  4472                                   Frituur

[4472 rows x 2 columns]

In [16]:
df_sitios.to_parquet('D:/PROYECTO FINAL/Google Maps/Sitios_GMaps.parquet', index=False)

In [17]:
reviews= pd.read_json('D:/PROYECTO FINAL/Google Maps/reviews-estados/review-Alabama/1.json', lines=True)

In [18]:
reviews

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140438e+20,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,1.160090e+20,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,1.062399e+20,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,1.049701e+20,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,1.105875e+20,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
...,...,...,...,...,...,...,...,...
149995,1.165082e+20,Lee Lee,1601666489107,5,Just a good old hardware friendly people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149996,1.080208e+20,Hayward Salter,1621994613217,5,Good people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149997,1.054646e+20,James McBride,1601863228986,4,Good for locals needing supplies to fix damage...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149998,1.118869e+20,Karen Sullivan,1593013285677,1,Very rude female employees at the cash counter...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149999,1.109920e+20,Scott Reid,1573317350293,4,Good hardware and lumber store. Prices on lumb...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2