In [8]:
# Carga la extensión SQL
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
# Conectar a una base de datos SQLite local (o especificar tu base de datos)
%sql sqlite:///my_database.db

In [10]:
%%sql
-- Crear la tabla 'business'
CREATE TABLE `business` (
  `business_id` varchar(255) PRIMARY KEY,
  `name` varchar(255),
  `address` varchar(255),
  `city` varchar(255),
  `state` varchar(255),
  `postal_code` integer,
  `latitude` float,
  `longitude` float,
  `stars` float,
  `review_count` integer,
  `is_open` integer,
  `attributes` varchar(255),
  `categories` varchar(255),
  `hours` varchar(255)
);

CREATE TABLE `checkin` (
  `business_id` varchar(255),
  `date` varchar(255)
);

CREATE TABLE `review` (
  `review_id` varchar(255),
  `user_id` varchar(255),
  `business_id` varchar(255),
  `stars` float,
  `useful` integer,
  `funny` integer,
  `cool` integer,
  `text` varchar(255),
  `date` varchar(255)
);

CREATE TABLE `tip` (
  `user_id` varchar(255),
  `business_id` varchar(255),
  `text` varchar(255),
  `date` varchar(255),
  `compliment_count` varchar(255)
);

CREATE TABLE `users` (
  `user_id` varchar(255) PRIMARY KEY,
  `name` varchar(255),
  `review_count` integer,
  `yelping_since` varchar(255),
  `useful` integer,
  `funny` integer,
  `cool` integer,
  `elite` varchar(255),
  `friends` varchar(255),
  `fans` integer,
  `average_stars` float,
  `compliment_hot` integer,
  `compliment_more` integer,
  `compliment_profile` integer,
  `compliment_cute` integer,
  `compliment_list` integer,
  `compliment_note` integer,
  `compliment_plain` integer,
  `compliment_cool` integer,
  `compliment_funny` integer,
  `compliment_writer` integer,
  `compliment_photos` integer
);

ALTER TABLE `checkin` ADD FOREIGN KEY (`business_id`) REFERENCES `business` (`business_id`);

ALTER TABLE `review` ADD FOREIGN KEY (`business_id`) REFERENCES `business` (`business_id`);

ALTER TABLE `review` ADD FOREIGN KEY (`review_id`) REFERENCES `users` (`user_id`);

ALTER TABLE `tip` ADD FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`);

ALTER TABLE `tip` ADD FOREIGN KEY (`business_id`) REFERENCES `business` (`business_id`);


-- Y así sucesivamente para las otras tablas...

-- Establecer relaciones de clave foránea
ALTER TABLE checkin ADD FOREIGN KEY (business_id) REFERENCES business (business_id);

ALTER TABLE review ADD FOREIGN KEY (business_id) REFERENCES business (business_id);

 * sqlite:///my_database.db
(sqlite3.OperationalError) table `business` already exists
[SQL: -- Crear la tabla 'business'
CREATE TABLE `business` (
  `business_id` varchar(255) PRIMARY KEY,
  `name` varchar(255),
  `address` varchar(255),
  `city` varchar(255),
  `state` varchar(255),
  `postal_code` integer,
  `latitude` float,
  `longitude` float,
  `stars` float,
  `review_count` integer,
  `is_open` integer,
  `attributes` varchar(255),
  `categories` varchar(255),
  `hours` varchar(255)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [11]:
# Mostrar las tablas en la base de datos TEST
%%sql
# SELECT name FROM sqlite_master WHERE type='business';

SyntaxError: invalid syntax (3030899002.py, line 3)